<launch>

 <arg name="configuration_basename" default="lds_2d.lua"/>
 <arg name="set_base_frame" default="base_footprint"/>
 <arg name="set_odom_frame" default="odom"/>
 <arg name="set_map_frame" default="map"/>


 <param name="robot_description" command="$(find xacro)/xacro --inorder $(find project)/urdf/turtlebot3.urdf.xacro"/>

 <param name="use_gui" value="True"/>


 <node name="mainbot_gmapping" pkg="gmapping" type="slam_gmapping">
  <param name="base_frame" value="$(arg set_base_frame)"/>
  <param name="odom_frame" value="$(arg set_odom_frame)"/>
  <param name="map_frame"  value="$(arg set_map_frame)"/>
  <rosparam command="load" file="$(find project)/config/gmapping_params.yaml"/>
 </node>



 <node name="mainbot_spawner" pkg="gazebo_ros" type="spawn_model" args="-z 1.0 -urdf -model mainbot -param robot_description"/>

 <node name="rviz" pkg="rviz" type="rviz" args="-d $(find project)/rviz/urdf.rviz"/>
 <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publischer"/>
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"/>

</launch>
